body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
h1, h2 {
  color: #343a40;
}
.navbar-brand {
  font-weight: bold;
}

/* styles.css */
#loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#addBlogBtn {
  display: none;
}

